{% extends 'layout.html' %} {% block body %}

<div class="container"><img src="../static/dark_leaf.jpg" id="right" /></div>
<div class="container"><img src="../static/dark_leaf.jpg" id="left" alt="img not display" /></div>
<!-- <div class="wrapper"> -->
<div class="heading">PLANT DISEASE DETECTION</div>
<div class="text">
    <p><b>Upload a picture of a Plant</b></p>
</div>
<!-- </div> -->
<div class="inner">
    <form id="analysis-form" enctype="multipart/form-data">
        <div class="imgbox">
            <img src="../static/img.jpg" class="img" id="selected_image" />
            <div class="middle">
                <div class="add"><span>SELECT IMAGE</span></div>
                <input name="Select File" id="imagefile" type="file" />
            </div>
        </div>
        <button id="analyze-button" class="analyze-button">
      <span>Analyze</span>
    </button>
    </form>
</div>

<script src="../static/client.js"></script>
{% endblock %}